@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url('../images/accommodation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 5% 4% 5%;
    box-sizing: border-box;
    margin-bottom: 10%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 3rem;
    height: 40vh;   
}

p, label, span{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.acommodation__filter p{
    height: 8vh;
    color: #ffffff;
}

input[type="radio"]{
    display:none;
}

input[type="radio"]+label{
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: 1px solid #0000006b;
    border-radius: 25px;
}

input[type="radio"]:checked+label{
    color: #ffffff;
    background-color: #0597F2;
    border: none;
}

.acommodation__filter:last-child{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 80px;
    height: 20vh;
    padding: 10px;
    box-shadow: 0 0 1em #000000;
}

.acommodation__filter div{
    display: flex;
    flex-direction: column;
    
}

main{
    padding: 1% 5% 4% 5%;
}