@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

header{
    background-image: url('../images/accommodation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 5% 0 5%;
    box-sizing: border-box;
    margin-bottom: 10%;
}


h1{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 6em;
    height: 40vh;   
}

p, label, span{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.acommodation__filter p{
    height: 6vh;
    color: #ffffff;
}

input[type="radio"]{
    display:none;
}

input[type="radio"]+label{
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: 1px solid #0000006b;
    border-radius: 25px;
}

input[type="radio"]:checked+label{
    color: #ffffff;
    background-color: #0597F2;
    border: none;
}

.acommodation__filter:last-child{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 80px;
    height: 20vh;
    padding: 10px;
    box-shadow: 0 0 1em #000000;
}

.acommodation__filter div{
    display: flex;
    flex-direction: column;
}

main{
    padding: 1% 5% 4% 5%;
}

main p{
    font-size: 2em;
    height: 20vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.accommodation__location{
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.accommodation__location p{
    height: 15%;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.accommodation__location__image, .accommodation__location__description{
    width: 50%;
    margin: 3px;
}

.accommodation__location img{
    width: 40vw;
    border-radius: 20px;
    margin-right: 20px;
}

@media (max-width: 1200px){
    html{
        font-size: 18px;
    }
    .acommodation__filter:last-child div{
        margin-bottom: 10px;
    }
    .accommodation__location{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .accommodation__location img{
        width: 60vw;
    }

    .accommodation__location__image, .accommodation__location__description{
        width: auto;
    }
}

@media (max-width: 870px){
    html{
        font-size: 13px;
    }
    p, label, span{
        font-size: 1em;
    }
    h1{
        height: 20vh;
    }
}

@media (max-width: 640px){
    html{
        font-size: 12px;
    }

    .acommodation__filter:last-child{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 80px;
        height: auto;
        padding: 10px;
    }

    header{
        margin-bottom: 12vh;
    }

    main p{
        font-size: 2em;
        height: 10vh;
    }
}

@media (max-width: 590px){
    html{
        font-size: 6px;
    }

    h1{
        height: 15vh;
    }

    p, label, span{
        font-size: 2em;
    }

}